body {
    width: 100%;
    margin: 0;
    overflow: hidden;
}
.container {
    width: 960px;
    margin: 0 auto;
}
.header {
    display: block;
    background: #010101;
    height: 70px;
    margin: 0;
}
.logo {
    width: auto;
    height: 60px;
}
.header-nav {
    display: inline-block;
    height: 70px;
    vertical-align: top;
    margin: 0;
}
.logoWrapper {
    display: inline-block;
}
.header__menuList {
    display: inline-block;
    margin: 0;
    line-height: 70px;
}
.header__menuListItem {
    display: inline-block;
    margin: 0 20px 0 0;
    position: relative;
}
.header__menuListItem:before {
    content: '';
}


.menuItemButton {
    display: block;
    color: #fefefe;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    line-height: 70px;
}
.menuItemButton:hover {
    color: #efc624;
    transition: .3s ease-in-out;
}
.header__menuListItem:hover:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    transition: .3s ease-in-out;
    background: #efc624;
    bottom: 0;
    left: 0;
    transition: all .3s ease-in-out;
}

/* Hero section */
.hero {
    position: relative;
    height: 400px;
    margin: 20px 20px;
    background: url('images/home_hero_background.jpg');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}
.heroContent__wrapper {
    display: inline-block;
    width: 50%;
    margin: 0 0 0 50%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}
.heroTitle {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    margin: 0;
    color: #fefefe;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
}
.heroDescription {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #fefefe;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
}